.tally {
  width: 50%;
  height: 75%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20% 25%;
  background-color: beige;
}

#view-tally {
  border: 2px, solid, rgb(102, 55, 55);
  border-radius: 15px;
  width: 250px;
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 55, 55);
}

p {
  align-content: center;
  margin: auto;
  font-size: 50px;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

#increment-btn {
  margin-top: 20px;
  margin-bottom: 25px;
  justify-content: start;
  height: 55px;
  width: 60px;
  border: 1px, solid, rgb(163, 128, 128);
  border-radius: 10px;
  background-color: rgb(163, 128, 128);
  font-size: 35px;
}

#decrement-btn {
  justify-content: end;
  margin-bottom: 25px;
  height: 55px;
  width: 60px;
  border: 1px, solid, rgb(172, 155, 155);
  border-radius: 10px;
  background-color: rgb(172, 155, 155);
  font-size: 35px;
}

#reset-btn {
  justify-content: end;
  margin-bottom: 25px;
  height: 55px;
  width: 60px;
  border: 1px, solid, rgb(201, 197, 197);
  border-radius: 10px;
  background-color: rgb(201, 197, 197);
  font-size: 15px;
}
